.containerProductList .title {
  margin: 20px;
}
.containerProductList .filterContainer {
  display: flex;
  justify-content: space-between;
}
.containerProductList .filterContainer .filter {
  margin: 20px;
}
.filterContainer .filter .filterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.filterContainer .filter select {
  padding: 10px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .containerProductList .filterContainer {
    display: flex;
    flex-direction: column;
  }
}
